html {
  font-family: "Courier New", Courier, monospace;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #555;
}

.menu li a {
  color: #ffff;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

@media screen and (min-width: 520px) {
  .menu {
    display: flex;
  }
}

#app {
  margin: auto;
  max-width: 800px;
}

